# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# IDEs and editors
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# Python local env
.env
medicos.txt
medicos2.txt
abcdefg.txt
logins.txt